@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --taskbar-height: 50px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideUp {
  from {
    transform: translateY(10%);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 0;
  }
}
.animate-slideUp {
  animation: slideUp 0.4s ease-out forwards;
}